@import "src/variable.scss";

.apple_product{
    margin-left: 0.7rem;

font-family: $font-family_1;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;


display: flex;
align-items: center;



color: #A2A6B0;
margin-top:3%;
}
.product_nm{
    position: relative;
width: 583px;
height: 48px;
margin-left:14.2rem;
right:60px;
white-space: nowrap;

font-family:$font-family_1;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 48px;
/* identical to box height */


color: #000000;
}
.product-info{
    position: absolute;
    width: 567px;
    height: 312px;
    margin-left: 500px;
    top: 451px;
    
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 300;
    font-size: $main-font-size;
    line-height: 24px;
    padding: 10px 10px;
    /* or 171% */
    
    display: flex;
    align-items: center;
    
    /* Color - 7 */
    
    color: #000000;
    
    
}
.product-details{
    text-align:left;
    
    margin-left:50px;
    font-family:$font-family_1;
    font-size:$main-font-size;
    padding:0px 10px;
    height: 3447px;
width: 1064px;

top: 237px;
border-radius: 0px;

}
.magic{
    margin-left:0em;
    display: block;
}
.apple{
    margin-left:19%;
}
.product-details{
    text-align:left;
    
    margin-left:50px;
    font-family:$font-family_1;
    font-size:$main-font-size;
    padding:0px 10px;
    height: 3447px;
width: 1064px;

top: 237px;
border-radius: 0px;

}
.pid{
    margin-left: 16%;
}
.product_i{
    margin-left:50%;
    padding:2px 2px;
    display: flex;
}
.product_tag{
    margin-left:20%;
}
.airpod{
    margin-right:381px;
}
.magic{
    margin-left:40px;
}
.bullet{
    margin-left:25%;
}
.product-t{
    position: absolute;
    width: 138px;
    height: 18px;
    margin-left:9rem;
    top: 409px;
    
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    padding:10px 10px;

}
.container{
    height:400px;
}
@media screen and (max-width: 568px) {
    .product_nm{
        position: absolute;
width: 213px;
height: 66px;
left: 15px;
top: 655px;

font-family: $font-family_1;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;

color: #000000;

    }
    .bullet{
        padding:50px ;
    }
    .apple_product{
        display: flex;
    }
    .apple{
        display: flex;
        position: relative;
    }
}